@import url('http://fonts.googleapis.com/css?family=Oswald:700,400,300');

#heading {
  font-family: "Oswald";
  text-align: center;
}

#button{
  margin-top: 20px;
  text-align: center;
}

img{
  margin-top: 50px;
  text-align: center;
}

.caption{
  width:100%;
  font-family: "Oswald";
  text-align: center;
}
h2{
  margin-top: -10px ;
  color: black;
}
a{
  color: black;
  font-size: 10;
}
.figure{
  text-align: center;
}
