{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Pick Ingredients</title>
    <link rel = "stylesheet" type = "text/css" href = "{% static "ingredientsstyle.css" %}" />
    <link href='https://fonts.googleapis.com/css?family=Oswald:700,400,300' rel='stylesheet' type='text/css'>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static "milligram.min.css" %}" type="text/css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </head>
  <body id = "content" style="background-color:#faebd7;">
    <div id="heading">
      <h1>Pick Ingredients</h1>
    </div>
    <br><br>

    <form class = "" action="" method="post" style="margin: 0; padding: 0;">
      <div id = "options">
        {% csrf_token %}
        {% for key, value in form.CHOICES %}
        <div style="display:inline; margin:10px 15px 10px 15px; max-width:80%;">
          <input id="{{value}}" class="checkbox-custom" name="{{value}}" type="checkbox">
          <label for="{{value}}" style="color:#d73f49;" class="checkbox-custom-label">{{value}}</label>
        </div>
        {% endfor %}
    </form>
    <div id="button" >
      <input type="submit" class="button-outline button-black" value = "MAKE SH*T" style="margin:auto; color:#d73f49;">
    </div>

    <!--<form class="" action="" method="post">
      <div id= "options">
      {% csrf_token %}
      {{ form.as_p }}
      </div>
    </form>-->

  </body>
</html>
