<form class="" action="" method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="submit">
</form>

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Pick Ingredients</title>
    <link rel = "stylesheet" type = "text/css" href = "ingredientsstyle.css" />
    <link href='https://fonts.googleapis.com/css?family=Oswald:700,400,300' rel='stylesheet' type='text/css'>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </head>
  <body id = "content">
    <div id="heading">
      <h1>Pick Ingredients</h1>
    </div>
    <br><br>
    <form>
      <div id = "options">
        <div>
          <input id="checkbox-1" class="checkbox-custom" name="checkbox-1" type="checkbox" checked>
          <label for="checkbox-1" class="checkbox-custom-label">First Choice</label>
        </div>
        <div>
          <input id="checkbox-2" class="checkbox-custom" name="checkbox-2" type="checkbox">
          <label for="checkbox-2" class="checkbox-custom-label">Second Choice</label>
        </div>
        <div>
          <input id="checkbox-3" class="checkbox-custom" name="checkbox-3" type="checkbox">
          <label for="checkbox-3"class="checkbox-custom-label">Third Choice</label>
        </div>
      </div>
    </form>
    <div id= "button">
      <button type="submit" class="btn btn-default">Submit</button>
    </div>
  </body>
</html>
