{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Coyote</title>
  <link rel = "stylesheet" type = "text/css" href = "{% static "searchv2style.css" %}" />
  <link href='https://fonts.googleapis.com/css?family=Oswald:700,400,300' rel='stylesheet' type='text/css'>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h5>Ingredients Chosen: <br></h5>
  <script>
  	var ingr = {{ ingredients }}
  	var ingrlen = ingr.length
  	for (var i = 0; i < ingrlen; i++) {
  		if (ingr[i] != "+"){
  			//printingr += ingr[i];
  			document.write(ingr[i])
  		}
  		else{
  			if (i != (ingrlen-1)){
  				document.write(", ");
  			}
  		}
  	}
  </script>

  <div id="heading">
    <h1>Recipes Found</h1>
  </div>

  <input type="button" class="btn btn-default" value="Search Again" onclick="window.location.href='{% url 'choose_ingredients' %}'">
  <br> <br>
  <div class ="thumbnail">

    {% for recipe in recipes.body %}
    <div class= "figure">
      <img src="{{ recipe.image }}" class="img-rounded" alt="" />
      <div class="caption" style = "display:table-caption;caption-side:bottom;"><h2><a href="{% url 'detail' recipe.id ingredients %}">{{ recipe.title }}</a></h2><div>
    </div>
    {% endfor %}
  </div>

</div>

</body>
</html>
